@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(4);
    }
}
.page{
    background-color: black;
}
.asteroid{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    transform: scale(1);
    border-radius: 50%;
    /* animation: scale 3s forwards; */
}
.counter{
    position: absolute;
    color: white;
    bottom: 0;
    left: 50%;
    transform: translate( -50%, 0);
    z-index: 3;
}
.game{
    cursor: cell;
}
.screen__container{
    width: 50%;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.entry{
    z-index: 90;
}
.screen{
    visibility: hidden;
    opacity: .2;
    transition: visibility 0s, opacity 0.5s linear;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    background-color: black;
}
.screen_opened{
    visibility: visible;
    opacity: 1;
}
.screen__title{
    color: white;
    text-align: center;
}
.end-screen__stats{
    color: white;
}
.screen__button{
    width: 30%;
    background-color: transparent;
    color: white;
    margin-top: 20px;
    outline: none;
    border: none;
    box-shadow: 0 0 10px white;
    transition: box-shadow 1s linear;
    cursor: pointer;
}
.screen__button:hover{
    box-shadow: 0 0 10px red;
}
.copyright{
    color: white;
    text-decoration: none;
    animation: pulse 1s infinite;
}
.settings{
    z-index: 99;
}
.screen__container .copyright{
    margin-top: 40px;
}
.settings__label{
    color: white;
}   
@media (max-width: 900px) {
    .screen__container{
        width: 90%;
    }
}