@keyframes scale{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(4);
    }
}
.page{
    background-color: black;
    cursor: cell;
}
.asteroid{
    width: 20px;
    height: 20px;
    background-color: white;
    position: absolute;
    transform: scale(1);
    border-radius: 50%;
    animation: scale 3s forwards;
}
.counter{
    position: absolute;
    color: white;
    border: 1px solid tomato;
    bottom: 0;
    left: 50%;
    transform: translate( -50%, 0);
    z-index: 3;
}
