.entry__button {
  list-style-type: none;
  margin: 0;
  padding: 0;

  width: 800px;
  height: 130px;
  /* background: rgb(89,0,255);
  background: linear-gradient(90deg, rgba(89,0,255,1) 5%, rgba(114,9,121,1) 67%); */
  background-image: url(../../../images/entryButton.png);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */

  margin-bottom: 20px;
  border-radius: 0 20px 20px 0;
  box-sizing: border-box;
  /* border: 5px solid white; */
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;

  position: relative;

  transition: transform .02s ease-in  ;
}
.entry__button:hover {
  transform:scale(1.05);
}
