@keyframes EntryPulse {
  0% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.1);
  }
}
@keyframes HoverPulse {
  0% {
    transform: scale(1.15);
  }
  80% {
    transform: scale(1.25);
  }
}

.entry__main-button {
  width: 600px;
  height: 600px;
  background-repeat: no-repeat;
  z-index: 100;
  background-size: contain;
  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  background-image: url(../../../images/osuLogo.png);
  animation: EntryPulse 0.3s linear infinite;
}

.entry__main-button:hover {
  cursor: pointer;
  animation: HoverPulse 0.3s linear infinite;
}
