@keyframes EntryPulse {
}

.entry__main-button {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
  background-repeat: no-repeat;
  z-index: 100;
  background-size: contain;

  border-radius: 50%;
  background-color: transparent;
  outline: none;
  border: none;
  background-image: url(../../../images/osuLogo.png);
  /* background-size: cover; */

  width: 100%;
  height: 100%;
}

.entry__main-button:hover {
  cursor: pointer;
}
