/* *{
    outline: 1px solid crimson;
} */

.asteroid {

    width: 90px;
    height: 90px;

    /* Position */

    position: absolute;

    /* Transition */

    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}