@keyframes indicator{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}

.asteroid__indicator{
    /* Position */

    position: absolute;
    top: 0;
    left: 0;

    /* Style */
    
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid crimson;

    /* Transformation */

    transform: scale(3);
    animation: indicator 0.75s linear forwards;
}