/* *{
    outline: 1px solid crimson;
} */

@keyframes indicator{
    0%{
        transform: scale(3);
    }
    100%{
        transform: scale(1);
    }
}

.asteroid {
    width: 90px;
    height: 90px;

    /* Position */

    position: absolute;
    left: 50%;
    top: 50%;
    position: relative;
}

.asteroid__element {
    width: 100%;
    height: 100%;

    /* Visuals */

    background-color: white;
    border-radius: 50%;
    box-sizing: border-box;
    border: 5px solid crimson;

    /* Text position */

    display: flex;
    justify-content: center;
    align-items: center;
}

.asteroid__indicator{
    /* Position */

    position: absolute;
    top: 0;
    left: 0;

    /* Style */
    
    height: 90px;
    width: 90px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 1px solid crimson;

    /* Transformation */

    transform: scale(3);
    animation: indicator 0.75s linear forwards;
}

.asteroid__miss {
    /* Position */

    position: absolute;
    top: 0;
    left: 0;

    /* Style */

    height: 90px;
    width: 90px;
 
    background-image: url(../../images/red-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(45deg);
    visibility: hidden;
}


.asteroid__text {
    margin: 0;

    font-size: 30px;
}