@keyframes scale{
    0%{
        transform: scale(.5);
    }
    100%{
        transform: scale(1);
    }
}
.game__asteroid-miss{
    color: red;
    animation: scale ease .3s;
    border-color: transparent;
    background-color: transparent;
}