@keyframes rescale{
    0%{
        transform: scale(4);
    }
    100%{
        transform: scale(1);
    }
}
.game__asteroid{
    width: 90px;
    height: 90px;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    background-color:rgba(255,182,193, .6);
    border: 5px solid rgba(255, 255, 255, 1);
    /* animation: scale 3s forwards; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 42px;
    opacity: 1;
    transition: opacity ease-in .1s;
}
.game__asteroid::before{
    content: '';
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    border: 1px solid rgba(255,182,193, .6);
    border-radius: 50%;
    transform: scale(4);
    animation: rescale .75s linear forwards;
}
