/* .game__asteroid-error{
    position: absolute;
    top: 1px;
    right: 1px;
    left: 1px;
    bottom: 1px;
    background-image: url(../../images/plus_icon.svg);
    background-repeat: no-repeat;   
    background-position: center;
    transform: rotate(45deg) scale(1.5);
    visibility: hidden;
} */